body {
  background-color: #ffe6f0;
  text-align: center;
}
.listcontainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: #ffcce0;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  color: #990073;
}
p {
  font-family: 'Open Sans', sans-serif;
}
a {
text-decoration: none;
}
h2 {
  color: #990073;
}

.photos {
  width: 20%;
}

.differentphotos {
  width: 15%;
}

.cvphoto {
  width: 50%;
}

@media (max-width: 600px) {

.listcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #ffcce0;
}

}
@media (min-width: 600px) and (max-width: 900px) {

  .listcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #ffcce0;
  }

}
